img
{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:2.5%;
  max-width: 95%;
}

div.js-response
{
  font-family: monospace;
  border-bottom: 1px solid gray;
}

div.js-response div
{
  padding: 3px;
}

div.js-in
{
  border-bottom: 1px dotted gray;
  color: green;
}

div.js-out
{
  color: blue;
}

.variable
{
  color: red;
}

code
{
  color: green;
}

.text-result-gray
{
  padding: 10px;
  font-size: 120%;
  color: gray;
  border: 1px dotted gray;
}

.text-result
{
  padding: 10px;
  font-size: 120%;
  color: black;
  border: 1px dotted gray;
}

.table-result
{
  font-size: 120%;
  color: black;
  border: none;
  
}

.table-td-result-italic
{
  padding: 5px;
  color: black;
  font-style: italic;
  border: 1px dotted;  
}


.table-td-result
{
  padding: 5px;
  border: 1px dotted gray;  
}

.string
{
  font-size: 120%;
  color: blue;
  padding: 5px;
  border-bottom: 1px dotted gray;
  cursor: pointer;
}

dt
{
  font-weight: bold;
}

dt:nth-child(1n+2)
{
  border-top: 1px gray dotted;
  padding-top: 5px;
  margin-top: 5px;
}

#freq-result
{
  margin-top: 10px;
}

#freq-result td
{

  padding: 5px;
}

#analyz-text-result
{
  padding: 10px;
  font-size: 150%;
  color: black;
  border: 1px dotted gray;
  font-family: monospace;
}

.analyz-result-text-emp
{
  background: red;
}
